@font-face {
  src: url("../fonts/Rubik-Light.ttf");
  font-family: 'Rubic';
}

html {
  height: 100%;
}

body {
  font-family: 'Rubic';
  font-size: 16px;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.container {
  height: 100%;
  background-color: white;
}

.row {
  margin: 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 30% 50%;
      grid-template-columns: 25% 30% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "qur half  second";
}

.shape {
  width: 39%;
  height: 85%;
  position: fixed;
  border-radius: 0px 0 50% 50%;
}

.top-left {
  position: absolute;
  left: -145px;
  background: linear-gradient(-168deg, #e942ff -6%, #8838ff 100%);
}

.bottom-right {
  background: #f5f3f7;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -145px;
  bottom: 0;
}

.app {
  z-index: 2;
  background-color: #f5f3f7;
  border: 10px solid #fff;
  border-radius: 30px;
  -webkit-box-shadow: 0 10px 76px rgba(62, 39, 83, 0.2);
          box-shadow: 0 10px 76px rgba(62, 39, 83, 0.2);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: half;
  margin-top: 50px;
  font-size: 0.75rem;
  height: 535px;
  overflow: hidden;
  position: relative;
  width: 250px;
}

.app::before {
  background-color: #fff;
  content: "";
  height: 20px;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 55%;
  border-radius: 0 0 15px 15px;
}

.app .header {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, color-stop(38%, #8838ff), to(#e942ff));
  background: linear-gradient(90deg, #8838ff 38%, #e942ff 100%);
}

.app .header .icon {
  width: 6%;
  padding: 0px 10px;
}

.app .header .icon:first-child {
  margin-right: auto;
}

.app .header .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  color: #fff;
}

.app .header .avatar img {
  width: 15%;
  height: 40%;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0px 8px 0px 0px;
}

.app .header .avatar h5 {
  color: #fff;
  font-size: 16px;
  margin-top: auto;
}

.app .header .avatar h6 {
  position: absolute;
  color: #d89eff;
  top: 6.5%;
  left: 30%;
  font-weight: 100;
}

.app .input {
  margin: auto;
  color: #c6cacd;
  padding: 10px 12px 7px 20px;
  width: 80%;
  height: 4%;
  background-color: #fff;
  border-radius: 20px;
}

.app .input div {
  text-align: center;
  float: right;
  display: block;
  width: 23px;
  padding: 5px;
  border-radius: 50%;
  background-color: #3e2753;
}

.app .input div img {
  -webkit-transform: rotatey(180deg);
          transform: rotatey(180deg);
  width: 60%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.chat {
  width: 100%;
  height: 76%;
}

.chat .chat-box {
  padding: 0 9px 0 12px;
  font-size: 0.6rem;
  margin-bottom: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-shadow: 0 3px 4px #e6c9ee;
          box-shadow: 0 3px 4px #e6c9ee;
  margin: 0px 12px 7px 12px;
}

.chat .chat-box:nth-child(1) {
  margin-top: 12px;
}

.chat .type-1 {
  color: #9241c8;
  background-color: #f1dff7;
  border-radius: 15px 15px 15px 6px;
  max-width: 62%;
}

.chat .type-2 {
  color: #6e5d7e;
  background-color: white;
  border-radius: 15px 15px 6px 15px;
  max-width: 60%;
}

.chat .type-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 74%;
  background: -webkit-gradient(linear, left top, right top, color-stop(38%, #e942ff), to(#8838ff));
  background: linear-gradient(90deg, #e942ff 38%, #8838ff 100%);
  color: #fff;
  border-radius: 15px 15px 15px 6px;
}

.chat .type-3:before {
  content: '';
  display: block;
  margin: 10px;
  width: 8%;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #e570ff;
}

.chat .type-3 span {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 40px;
}

.chat .chat-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin: 0px 0px 7px 12px;
}

.chat .chat-images img {
  border-radius: 12px;
  margin-right: 12px;
  width: 25%;
}

.side-paragraph {
  width: 64%;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: second;
  z-index: 2;
  margin-top: 25%;
}

.side-paragraph h1 {
  color: #3e2753;
  font-size: 40px;
  font-weight: 700;
}

.side-paragraph p {
  color: #a39daa;
  line-height: 30px;
  font-weight: 500;
}

@media (max-width: 780px) {
  .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "half" "second";
  }
  .shape {
    width: 85%;
    height: 74%;
  }
  .app .header {
    height: 10%;
  }
  .chat {
    height: 78%;
  }
  .app .input {
    margin-top: -10px;
  }
  .chat-box {
    width: 80% !important;
  }
  .type-3 {
    width: 80% !important;
  }
  .side-paragraph {
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .phone {
    width: 253px;
    height: 634px;
  }
}
/*# sourceMappingURL=app.css.map */