@font-face {
	src: url('../fonts/Rubik-Light.ttf');
	font-family: 'Rubic';
}

//##texts
$SubHead: hsl(276, 100%, 81%);
$LeftChat: hsl(276, 55%, 52%);
$RightChat: hsl(271, 15%, 43%);
$PlaceholderText: hsl(206, 6%, 79%);
$mainHeading: hsl(271, 36%, 24%);
$paragraph: hsl(270, 7%, 64%);

//##Gradients
$LightMagenta: hsl(293, 100%, 63%);
$LightViolet: hsl(264, 100%, 61%);

//##secondary
$white: #fff;
$AppBG: hsl(270, 20%, 96%);
$SubmitBtn: hsl(271, 36%, 24%);
$RadioOutline: hsl(289, 100%, 72%);

html {
	height: 100%;
}

body {
	font-family: 'Rubic';
	font-size: 16px;
	height: 100vh;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
}

.container {
	height: 100%;
	background-color: hsl(0, 0%, 100%);

}

.row {
	margin: 0 30px;
	display: grid;
	grid-template-columns: 25% 30% 50%;
	grid-template-rows: auto;
	grid-template-areas: "qur half  second";
}

.shape {
	width: 39%;
	height: 85%;
	position: fixed;
	border-radius: 0px 0 50% 50%;


}

.top-left {
	position: absolute;
	left: -145px;
	background: linear-gradient(-168deg, $LightMagenta -6%, $LightViolet 100%);
	;
}

.bottom-right {

	background: $AppBG;
	transform: rotate(180deg);
	//position: absolute;
	right: -145px;
	bottom: 0;
}





.app {
	z-index: 2;
	background-color: $AppBG;
	border: 10px solid $white;
	border-radius: 30px;
	box-shadow: 0 10px 76px transparentize($mainHeading, $amount: 0.8);
	grid-area: half;
	margin-top: 50px;
	font-size: 0.75rem;
	height: 535px;
	overflow: hidden;
	position: relative;
	width: 250px;

	&::before {
		background-color: $white;
		content: "";
		height: 20px;
		left: 50%;
		position: absolute;
		transform: translate(-50%, 0);
		width: 55%;
		border-radius: 0 0 15px 15px;
	}

	.header {

		width: 100%;
		height: 10%;
		display: flex;
		align-items: center;
		padding-top: 25px;

		justify-content: flex-end;
		border-radius: 10px;

		background: linear-gradient(90deg, $LightViolet 38%, $LightMagenta 100%);


		.icon {
			width: 6%;
			padding: 0px 10px;

			&:first-child {
				margin-right: auto;
			}
		}

		.avatar {
			display: flex;
			align-items: center;
			flex-flow: wrap;
			color: $white;
			//height: 30%;
			//width: 30%;


			img {
				width: 15%;
				height: 40%;
				border-radius: 50%;
				border: 2px solid $white;
				margin: 0px 8px 0px 0px;
			}

			h5 {
				color: $white;
				font-size: 16px;
				margin-top: auto;

			}

			h6 {
				position: absolute;
				color: $SubHead;
				top: 6.5%;
				left: 30%;
				font-weight: 100;
			}
		}




	}

	.input {


		margin: auto;
		color: $PlaceholderText;
		padding: 10px 12px 7px 20px;
		width: 80%;
		height: 4%;
		background-color: $white;
		border-radius: 20px;


		div {
			text-align: center;
			float: right;
			display: block;
			width: 23px;
			padding: 5px;
			border-radius: 50%;
			background-color: $SubmitBtn;


			img {

				transform: rotatey(180deg);
				width: 60%;

			}
		}
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.chat {
	width: 100%;
	height: 76%;


	.chat-box {
		padding: 0 9px 0 12px;
		font-size: 0.6rem;

		margin-bottom: 12px;
		width: max-content;
		box-shadow: 0 3px 4px hsl(288, 51%, 86%);

		margin: 0px 12px 7px 12px;


		&:nth-child(1) {
			margin-top: 12px;
		}



	}

	.type-1 {
		color: $LeftChat;
		background-color: hsl(287, 59%, 92%);
		border-radius: 15px 15px 15px 6px;
		max-width: 62%;
	}

	.type-2 {
		color: $RightChat;
		background-color: hsl(0, 0%, 100%);
		border-radius: 15px 15px 6px 15px;
		max-width: 60%;
	}

	.type-3 {
		display: flex;
		width: 74%;
		background: linear-gradient(90deg, $LightMagenta 38%, $LightViolet 100%);
		color: $white;
		border-radius: 15px 15px 15px 6px;

		&:before {
			content: '';
			display: block;
			margin: 10px;
			width: 8%;
			height: 15px;
			border-radius: 50%;
			border: 3px solid $RadioOutline;
		}

		span {
			font-size: 1rem;
			font-weight: 600;
			margin-left: 40px;

		}
	}

	.chat-images {
		display: flex;
		width: 65%;
		margin: 0px 0px 7px 12px;

		img {
			border-radius: 12px;
			margin-right: 12px;
			width: 25%;
		}

	}
}

.side-paragraph {
	width: 64%;
	grid-area: second;
	z-index: 2;
	margin-top: 25%;


	h1 {
		color: $mainHeading;
		font-size: 40px;
		font-weight: 700;
	}

	p {
		color: $paragraph;
		line-height: 30px;
		font-weight: 500;
	}
}

@media (max-width: 780px) {
	.row {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-template-areas:
			"half"
			"second";

	}


	.shape {
		width: 85%;
		height: 74%;
	}

	.app .header {
		height: 10%;
	}

	.chat {
		height: 78%;
	}

	.app .input {
		margin-top: -10px;
	}

	.chat-box {
		width: 80% !important;
	}

	.type-3 {

		width: 80% !important;
	}

	.side-paragraph {
		margin-top: 0;
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 320px) {
	.phone {

		width: 253px;
		height: 634px;
	}
}